{% extends 'layout.html' %}

{% block content %}

<section>
    <div class="wrap">
    
<div class="main-container">
    <div class="brand-name">gofer_RIDEZ</div>
<div class="nav-bar">
    <ul>
        <li><a href="home page">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact us">Contact</a></li>
        <li><a href="Blog">Blog</a></li>
    </ul>
</div>
<div class="log">
    <a href="Get STrted">Get Started</a>
    <a href="Login">LOGIN</a>
</div>
</div>
</div>
</section>

{% endblock content%}