{% extends 'layout.html' %}

{% block content %}

<section>
    <div class="wrap">    
        <div class="main-container">
            <div class="logo"><img src="../static/img/logo2ed.png" alt="" width="80px"></div>
            <div class="brand-name">gofer_RIDEZ</div>
        <div class="nav-bar">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact us">Contact</a></li>
                <li><a href="Blog">Blog</a></li>
            </ul>
        </div>
        <div class="log">
            <a href="Get STrted">Get Started</a>
            <a href="Login">LOGIN</a>
        </div>
    </div>
</section>
<div class="ayb1">
    <div class="firstayb">
        <h1>WHAT DO WE DO?</h1>
        <p>Gofer_Ridez is a logistics tasked with aiding the ease of transport of goods and services
            , which has troubled nigerians alot.
        </p>
        <a href="Get STtred">Get Started Today</a>
    </div>
    <div class="noj">
        <img src="../static/img/close-up-delivery-person-giving-parcel-client_23-2149095900.webp" alt="">

    </div>
</div>

<div class="ayb2">
    <div class="secayb">
        <h1>WHY JOIN US?</h1>
        <p>Gofer_Ridez is an independent Company, with self hired and owned riders totalling about 100 riders
            who are ready for any task our customers give to them. These riders are available in any region of Jos, to ensure a speedy response.
        </p>
    </div>
    <div class="noj">
        <img src="../static/img/3.jpg" alt="">
    </div>
</div>



<div class="closer">

    <div class="scra">
        <div class="box-1">
            <p id="flaip">&copy;2022 Gofer_Ridez</p>
        </div>

        <div class="box-2">
            <h2>Company</h2>
            <a href=""><p>Service Portfolio</p></a>
            <a href="about"><p>About Us</p></a>
            <a href="Blog"><p>Blog</p></a>
            <a href=""><p>Terms and Conditions</p></a>
        </div>


        <div class="box-4">
            <p>Connect with us</p>
            <a href="http://www.facebook.com"><img src="../static/img/940994_facebook_fb icon_icon.svg" alt="" width="30" ></a>
            <a href="http://www.twitter.com"><img src="../static/img/2082466_connection_media_share_social_twitter_icon.svg" alt="" width="30" ></a>
            <a href="http://www.instagram.com"><img src="../static/img/657787_circles_instagram_line_neon_pictures_icon.svg" alt="" width="30" ></a>

        </div>


    </div>


    <div class="foot">
        <footer>&copy; Copyright 2022 Gofer_Ridez.All rights reserved.</footer>
    </div>

</div>
</div>



{% endblock content%}