{% extends 'layout.html' %}

{% block content %}
<section>
    <div class="wrap">    
        <div class="main-container">
            <div class="logo"><img src="../static/img/logo2ed.png" alt="" width="80px"></div>
            <div class="brand-name">gofer_RIDEZ</div>
        <div class="nav-bar">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact us">Contact</a></li>
                <li><a href="Blog">Blog</a></li>
            </ul>
        </div>
        <div class="log">
            <a href="Get STrted">Get Started</a>
            <a href="Login">LOGIN</a>
        </div>
    </div>
</section>


<div class="ready">
    <img src="../static/img/db2.webp" alt="bc">
    <h1>Are you a business owner who wants a fast delivery service?</h1>
    <h2>whatever delivery, gofer_RIDEZ is at just a call away.</h2>
    <a href="#">Join Now</a> 
</div>


<div class="available">
<p>gofer_RIDEZ;<br> offers you quick and reliable pickup service.
are you in need of an available dispatch rider?<br>
click here!     <a href="#">CLICK HERE</a> to search available ridez.</p></div>

<div class="gridwrap">
    <div box1>1<br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima veniam, unde quo magni ipsam labore ad aut vero velit dolor? Necessitatibus quis eveniet eum soluta commodi odit beatae corrupti distinctio hic ratione velit iusto minima enim neque, maiores placeat sed dolor natus error animi vero at? Ratione quasi dolor pariatur.</div>
    
    <div box2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim facilis accusantium consectetur! Ad repellat voluptate explicabo nostrum. At quidem quas temporibus nventore veniam eius modi quae! Eum quibusdam sequi id! Nemo, quis assumenda illum quibusdam eius laboriosam iste. Maiores ad repudiandae magni eligendi facilis!</div>

    <div box3> 3<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione molestiae eos consectetur distinctio reprehenderit esse voluptatum culpa ex, cum sed enim hic, atque doloribus tempore, doloremque quam dolorum neque? Non cupiditate molestias ex officia, ratione hic similique voluptatum ut eaque deleniti. Laborum nihil praesentium modi, ipsam ipsa cumque quae dignissimos!</div>
    
</div>



<div class="closer">

    <div class="scra">
        <div class="box-1">
            <p id="flaip">&copy;2022 Gofer_Ridez</p>
        </div>

        <div class="box-2">
            <h2>Company</h2>
            <a href=""><p>Service Portfolio</p></a>
            <a href="about"><p>About Us</p></a>
            <a href="Blog"><p>Blog</p></a>
            <a href=""><p>Terms and Conditions</p></a>
        </div>


        <div class="box-4">
            <p>Connect with us</p>
            <a href="http://www.facebook.com"><img src="../static/img/940994_facebook_fb icon_icon.svg" alt="" width="30" ></a>
            <a href="http://www.twitter.com"><img src="../static/img/2082466_connection_media_share_social_twitter_icon.svg" alt="" width="30" ></a>
            <a href="http://www.instagram.com"><img src="../static/img/657787_circles_instagram_line_neon_pictures_icon.svg" alt="" width="30" ></a>

        </div>


    </div>


    <div class="foot">
        <footer>&copy; Copyright 2022 Gofer_Ridez.All rights reserved.</footer>
    </div>

</div>
</body>
</html>

{% endblock content %}

